<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952082308730-o6b157ur6bbmdi712e3203e16sub7ptp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952082308730-o6b157ur6bbmdi712e3203e16sub7ptp</string>
	<key>API_KEY</key>
	<string>AIzaSyB5rkRuH293XRhfEDGi8yVVQKSH5aS8EVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>952082308730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.asbin.authentication</string>
	<key>PROJECT_ID</key>
	<string>auth-app-savage</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-app-savage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952082308730:ios:473ec471c82aa0d91d25c3</string>
</dict>
</plist>